################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/DAY2/x64/Debug
/DAY2/Decorator/.vs/Decorator
/DAY2/Decorator/Decorator/bin/Debug/net8.0
/DAY2/Decorator/Decorator/obj
/DAY2/.vs/DAY2
/DAY2/DAY2/x64/Debug
/DAY2/Decorator/.vs/ProjectEvaluation
